@import 'antd/dist/antd.css';

#root {
  width: 100%;
  background: #fff;
}

.header {
  position: sticky;
  padding: 0 0;
}

.logo {
  float: left;
  padding: 0 4em;
  color: white;
  font-weight: bold;
}

main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
