.ingredient__name {
    width: 100%;
}

.ingredient__quantity {
    width: 5em;
}

.ingredient__color {
    display: block;
    background: green;
    height: 1em;
    width: 1em;
    border-radius: 0.5em;
}

.ingredients__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.container__name {
    width: 100%;
}
