.unitSelector {
    width: 5em;
}

.fillBar {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid black;
  height: 2em;
}

.fillBar__entry {
  height: 2em;
}

.fillBar__padding {
  height: 2em;
}
